:root {
    --background-light: #f0f0f5;
    --background-dark: #121212;
    --text-light: #ffffff;
    --text-dark: #333333;
    --primary-color: #4a86e8; 
    --secondary-color: #6a5acd;
    --button-bg-light: #4a86e8;
    --button-bg-dark: #0056b3;
    --slider-bg: #ddd;
    --slider-active-bg: #4a86e8;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    transition: background-color 0.5s, color 0.5s;
}

header {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 0.5em; 
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease;
}

.navbar {
    display: flex;
    align-items: center;
    height: 40px; 
}

.logo {
    font-size: 16px; 
    font-weight: bold;
    color: var(--text-light);
    padding-right: 10px; 
    border-right: 2px solid var(--text-light); 
}

.navbar h1 {
    font-size: 14px; 
    margin: 0;
}

.slider {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.slider input {
    display: none;
}

.slider-label {
    width: 50px;
    height: 24px;
    background: var(--slider-bg);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    transition: background-color 0.5s;
}

.slider-icon {
    width: 18px;
    height: 18px;
    transition: transform 0.3s;
}

.slider input:checked + .slider-label {
    background: var(--slider-active-bg);
}

.slider input:checked + .slider-label .slider-icon {
    transform: translateX(25px);
}


main {
    padding: 20px;
    transition: background-color 0.5s, color 0.5s;
}

h2 {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 5px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.skill {
    background-color: var(--secondary-color);
    color: var(--text-light);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

body.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-light);
}

body.dark-mode header {
    background-color: var(--background-dark);
}

body.dark-mode main {
    background-color: var(--background-dark);
    color: var(--text-light);
}

body.dark-mode .skill {
    background-color: var(--primary-color);
}
